<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.8.2-alpha" targetFramework="net48" />
  <package id="Accord.MachineLearning" version="3.8.2-alpha" targetFramework="net48" />
  <package id="Accord.Math" version="3.8.2-alpha" targetFramework="net48" />
  <package id="Accord.Statistics" version="3.8.2-alpha" targetFramework="net48" />
  <package id="BCrypt.Net-Next" version="4.0.3" targetFramework="net48" />
  <package id="DocumentFormat.OpenXml" version="3.3.0" targetFramework="net48" />
  <package id="DocumentFormat.OpenXml.Framework" version="3.3.0" targetFramework="net48" />
  <package id="EntityFramework" version="6.5.1" targetFramework="net48" />
  <package id="LightGBM" version="4.6.0" targetFramework="net48" />
  <package id="MathNet.Numerics" version="6.0.0-beta2" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="10.0.0-preview.6.25358.103" targetFramework="net48" />
  <package id="Microsoft.Bcl.Numerics" version="9.0.4" targetFramework="net48" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="10.0.0-preview.6.25358.103" targetFramework="net48" />
  <package id="Microsoft.Extensions.Caching.Memory" version="9.0.8" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection" version="10.0.0-preview.6.25358.103" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="10.0.0-preview.6.25358.103" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging" version="10.0.0-preview.6.25358.103" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="10.0.0-preview.6.25358.103" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options" version="10.0.0-preview.6.25358.103" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="10.0.0-preview.6.25358.103" targetFramework="net48" />
  <package id="Microsoft.ML" version="5.0.0-preview.25373.1" targetFramework="net48" />
  <package id="Microsoft.ML.CpuMath" version="5.0.0-preview.25373.1" targetFramework="net48" />
  <package id="Microsoft.ML.DataView" version="5.0.0-preview.25373.1" targetFramework="net48" />
  <package id="Microsoft.ML.FastTree" version="5.0.0-preview.25373.1" targetFramework="net48" />
  <package id="Microsoft.ML.LightGbm" version="5.0.0-preview.25373.1" targetFramework="net48" />
  <package id="Microsoft.ML.Mkl.Redist" version="4.0.2" targetFramework="net48" />
  <package id="Microsoft.ML.TimeSeries" version="4.0.2" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.CodeDom" version="9.0.4" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="9.0.4" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="10.0.0-preview.6.25358.103" targetFramework="net48" />
  <package id="System.Memory" version="4.6.3" targetFramework="net48" />
  <package id="System.Numerics.Tensors" version="9.0.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="System.Threading.Channels" version="9.0.4" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net48" />
  <package id="System.Transactions.Workflows" version="0.1.2.0" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.6.1" targetFramework="net48" />
</packages>