<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.8.2-alpha" targetFramework="net48" />
  <package id="Accord.MachineLearning" version="3.8.2-alpha" targetFramework="net48" />
  <package id="Accord.Math" version="3.8.2-alpha" targetFramework="net48" />
  <package id="Accord.Statistics" version="3.8.2-alpha" targetFramework="net48" />
  <package id="BCrypt.Net-Next" version="4.0.3" targetFramework="net48" />
  <package id="BenchmarkDotNet" version="0.14.0" targetFramework="net48" />
  <package id="BenchmarkDotNet.Annotations" version="0.14.0" targetFramework="net48" />
  <package id="BenchmarkDotNet.Diagnostics.Windows" version="0.14.0" targetFramework="net48" />
  <package id="BouncyCastle.Cryptography" version="2.4.0" targetFramework="net48" />
  <package id="Castle.Core" version="5.1.1" targetFramework="net472" />
  <package id="ClosedXML" version="0.105.0-rc" targetFramework="net48" />
  <package id="ClosedXML.Parser" version="2.0.0-preview1" targetFramework="net48" />
  <package id="CommandLineParser" version="2.9.1" targetFramework="net48" />
  <package id="DevExXtraGridCore" version="16.2.16" targetFramework="net48" />
  <package id="dnlib" version="4.4.0" targetFramework="net48" />
  <package id="DocumentFormat.OpenXml" version="3.3.0" targetFramework="net48" />
  <package id="DocumentFormat.OpenXml.Framework" version="3.3.0" targetFramework="net48" />
  <package id="DocumentFormat.OpenXmlSDK" version="2.0" targetFramework="net48" />
  <package id="EntityFramework" version="6.5.1" targetFramework="net48" />
  <package id="EPPlus" version="5.8.8" targetFramework="net48" />
  <package id="ExcelNumberFormat" version="1.1.0" targetFramework="net48" />
  <package id="FubarCoder.RestSharp.Portable.Core" version="4.0.8" targetFramework="net472" />
  <package id="FubarCoder.RestSharp.Portable.HttpClient" version="4.0.8" targetFramework="net472" />
  <package id="Gee.External.Capstone" version="2.3.0" targetFramework="net48" />
  <package id="Google.Protobuf" version="3.21.9" targetFramework="net48" />
  <package id="Iced" version="1.17.0" targetFramework="net48" />
  <package id="iTextSharp" version="5.5.13.4" targetFramework="net48" />
  <package id="LightGBM" version="3.3.5" targetFramework="net48" />
  <package id="MassTransit" version="8.3.7-develop.2216" targetFramework="net48" />
  <package id="MassTransit.Abstractions" version="8.3.7-develop.2216" targetFramework="net48" />
  <package id="MassTransit.TestFramework" version="8.3.7-develop.2216" targetFramework="net48" />
  <package id="MaterialSkin" version="0.2.1" targetFramework="net48" />
  <package id="MaterialSkin.2" version="2.3.1" targetFramework="net48" />
  <package id="MaterialSkin.Updated" version="0.2.2" targetFramework="net48" />
  <package id="MathNet.Numerics" version="6.0.0-beta1" targetFramework="net48" />
  <package id="MetroModernUI" version="1.4.0.0" targetFramework="net48" />
  <package id="Microsoft.ApplicationInsights" version="2.22.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.Cors" version="5.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Client" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.OwinSelfHost" version="5.3.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="10.0.0-preview.6.25358.103" targetFramework="net48" />
  <package id="Microsoft.Bcl.HashCode" version="1.1.1" targetFramework="net48" />
  <package id="Microsoft.Bcl.Numerics" version="9.0.1" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="3.3.3" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.Common" version="4.1.0" targetFramework="net48" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="4.1.0" targetFramework="net48" />
  <package id="Microsoft.CodeCoverage" version="17.13.0" targetFramework="net48" />
  <package id="Microsoft.CognitiveServices.Speech" version="1.42.0" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="Microsoft.Diagnostics.NETCore.Client" version="0.2.251802" targetFramework="net48" />
  <package id="Microsoft.Diagnostics.Runtime" version="2.2.332302" targetFramework="net48" />
  <package id="Microsoft.Diagnostics.Tracing.TraceEvent" version="3.1.8" targetFramework="net48" />
  <package id="Microsoft.DotNet.PlatformAbstractions" version="3.1.6" targetFramework="net48" />
  <package id="Microsoft.EntityFrameworkCore.Tools" version="9.0.7" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="10.0.0-preview.6.25358.103" targetFramework="net48" />
  <package id="Microsoft.Extensions.Caching.Memory" version="9.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration" version="2.1.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="2.1.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection" version="9.0.3" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="10.0.0-preview.6.25358.103" targetFramework="net48" />
  <package id="Microsoft.Extensions.Diagnostics.Abstractions" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Diagnostics.HealthChecks" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Diagnostics.HealthChecks.Abstractions" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Hosting.Abstractions" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="10.0.0-preview.6.25358.103" targetFramework="net48" />
  <package id="Microsoft.Extensions.ML" version="4.0.2" targetFramework="net48" />
  <package id="Microsoft.Extensions.ObjectPool" version="8.0.7" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options" version="10.0.0-preview.6.25358.103" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="10.0.0-preview.6.25358.103" targetFramework="net48" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="1.4.1" targetFramework="net48" />
  <package id="Microsoft.ML" version="4.0.2" targetFramework="net48" />
  <package id="Microsoft.ML.CpuMath" version="4.0.2" targetFramework="net48" />
  <package id="Microsoft.ML.DataView" version="4.0.2" targetFramework="net48" />
  <package id="Microsoft.ML.FastTree" version="4.0.2" targetFramework="net48" />
  <package id="Microsoft.ML.LightGbm" version="4.0.2" targetFramework="net48" />
  <package id="Microsoft.ML.Mkl.Redist" version="4.0.2" targetFramework="net48" />
  <package id="Microsoft.ML.OnnxRuntime.Gpu" version="1.22.1" targetFramework="net48" />
  <package id="Microsoft.ML.OnnxRuntime.Gpu.Linux" version="1.22.1" targetFramework="net48" />
  <package id="Microsoft.ML.OnnxRuntime.Gpu.Windows" version="1.22.1" targetFramework="net48" />
  <package id="Microsoft.ML.OnnxRuntime.Managed" version="1.22.1" targetFramework="net48" />
  <package id="Microsoft.ML.Recommender" version="0.22.1" targetFramework="net48" />
  <package id="Microsoft.ML.TimeSeries" version="4.0.2" targetFramework="net48" />
  <package id="Microsoft.NET.Runtime.Emscripten.3.1.12.Python.osx-x64" version="8.0.0-preview.2.23127.1" targetFramework="net48" />
  <package id="Microsoft.NET.Test.Sdk" version="17.13.0" targetFramework="net48" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1001" targetFramework="net48" />
  <package id="Microsoft.Owin" version="4.2.3" targetFramework="net48" />
  <package id="Microsoft.Owin.Cors" version="4.2.3" targetFramework="net48" />
  <package id="Microsoft.Owin.Host.HttpListener" version="4.2.3" targetFramework="net48" />
  <package id="Microsoft.Owin.Hosting" version="4.2.2" targetFramework="net48" />
  <package id="Microsoft.Testing.Extensions.Telemetry" version="1.6.0" targetFramework="net48" />
  <package id="Microsoft.Testing.Extensions.TrxReport.Abstractions" version="1.6.0" targetFramework="net48" />
  <package id="Microsoft.Testing.Extensions.VSTestBridge" version="1.6.0" targetFramework="net48" />
  <package id="Microsoft.Testing.Platform" version="1.6.0" targetFramework="net48" />
  <package id="Microsoft.Testing.Platform.MSBuild" version="1.6.0" targetFramework="net48" />
  <package id="Microsoft.TestPlatform.ObjectModel" version="17.13.0" targetFramework="net48" />
  <package id="Microsoft.Win32.Registry" version="5.0.0" targetFramework="net48" />
  <package id="Moq" version="4.20.72" targetFramework="net472" />
  <package id="MSTest.Analyzers" version="3.8.3" targetFramework="net48" developmentDependency="true" />
  <package id="MSTest.TestAdapter" version="3.8.0" targetFramework="net48" />
  <package id="MSTest.TestFramework" version="3.8.3" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="Newtonsoft.Json.Bson" version="1.0.2" targetFramework="net48" />
  <package id="NUnit" version="4.3.2" targetFramework="net48" />
  <package id="NUnit3TestAdapter" version="5.0.0-beta.5" targetFramework="net48" />
  <package id="OfficeOpenXml.Core.ExcelPackage" version="1.0.0" targetFramework="net48" />
  <package id="Open-XML-SDK" version="2.9.1" targetFramework="net48" />
  <package id="Owin" version="1.0" targetFramework="net48" />
  <package id="Perfolizer" version="0.3.17" targetFramework="net48" />
  <package id="Python.Runtime.AllPlatforms" version="3.7.2.4" targetFramework="net48" />
  <package id="Python.Runtime.NETStandard" version="3.7.1" targetFramework="net48" />
  <package id="Python.Runtime.Windows" version="3.7.2" targetFramework="net48" />
  <package id="pythonnet" version="3.1.0-preview2024-09-06" targetFramework="net48" />
  <package id="pythonnet_netstandard_py37_win" version="2.5.2" targetFramework="net48" />
  <package id="RBush.Signed" version="4.0.0" targetFramework="net48" />
  <package id="RestSharp" version="112.1.1-alpha.0.4" targetFramework="net48" />
  <package id="RestSharp.Authenticators" version="1.1.1" targetFramework="net472" />
  <package id="RestSharp.Serializers.NewtonsoftJson" version="112.1.1-alpha.0.4" targetFramework="net48" />
  <package id="RestSharp.Serializers.SystemTextJson" version="106.15.1-alpha.0.1" targetFramework="net48" />
  <package id="RestSharpSigned" version="105.2.3" targetFramework="net472" />
  <package id="Serilog" version="4.2.0" targetFramework="net48" />
  <package id="SharpFuzz" version="2.2.0" targetFramework="net48" />
  <package id="SharpFuzz.Common" version="2.2.0" targetFramework="net48" />
  <package id="SharpZipLib" version="1.4.0" targetFramework="net48" />
  <package id="SixLabors.Fonts" version="1.0.0" targetFramework="net48" />
  <package id="SkiaSharp" version="2.88.6" targetFramework="net48" />
  <package id="SkiaSharp.NativeAssets.macOS" version="2.88.6" targetFramework="net48" />
  <package id="SkiaSharp.NativeAssets.Win32" version="2.88.6" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.CodeDom" version="9.0.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="9.0.1" targetFramework="net48" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net48" />
  <package id="System.Data.DataSetExtensions" version="4.5.0" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="10.0.0-preview.6.25358.103" targetFramework="net48" />
  <package id="System.IO" version="4.3.0" targetFramework="net48" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.IO.Packaging" version="4.5.0" targetFramework="net48" />
  <package id="System.IO.Pipelines" version="9.0.3" targetFramework="net48" />
  <package id="System.Management" version="5.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.6.3" targetFramework="net48" />
  <package id="System.Numerics.Tensors" version="9.0.1" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.Reflection.Emit" version="4.7.0" targetFramework="net48" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net48" />
  <package id="System.Reflection.Metadata" version="9.0.1" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="System.Resources.Extensions" version="8.0.0" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.0.0" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="5.0.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net48" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
  <package id="System.Speech" version="9.0.1" targetFramework="net48" />
  <package id="System.Text.Encoding.CodePages" version="4.5.1" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="9.0.3" targetFramework="net48" />
  <package id="System.Text.Json" version="9.0.3" targetFramework="net48" />
  <package id="System.Threading.Channels" version="9.0.1" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net48" />
  <package id="System.Transactions.Workflows" version="0.1.2.0" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.6.1" targetFramework="net48" />
  <package id="Tesseract" version="5.2.0" targetFramework="net48" />
  <package id="TorchSharp" version="0.105.1" targetFramework="net48" />
  <package id="xunit" version="2.4.2" targetFramework="net48" />
  <package id="xunit.abstractions" version="2.0.3" targetFramework="net48" />
  <package id="xunit.analyzers" version="1.18.0" targetFramework="net48" developmentDependency="true" />
  <package id="xunit.assert" version="2.9.3" targetFramework="net48" />
  <package id="xunit.core" version="2.4.2" targetFramework="net48" />
  <package id="xunit.extensibility.core" version="2.4.2" targetFramework="net48" />
  <package id="xunit.extensibility.execution" version="2.4.2" targetFramework="net48" />
  <package id="xunit.runner.visualstudio" version="2.4.5" targetFramework="net48" developmentDependency="true" />
</packages>